<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Add a Cat!</title>
</head>
<body>
    <p>
        Upload Image
        </p>
        <form id="upload_form" enctype="multipart/form-data">
            <input type="file" id="file" name="file">
            <p>[optional] sub_id
            <input type="text" id="sub_id" name="sub_id">
            </p>
            <button id="uploadBtn">Upload</button>
        </form>
        <button onclick="location.reload();">New Cat!</button>
        <hr>
        <p>Request Status:</p>
        <div id="status"></div>
        <hr>
        <p>API Response:</p>
        <div id="response"></div>
    </body>
</html>